@import url('../../node_modules/@fontsource-variable/onest/index.css');
@import url('default.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.font-onest-variable,
.phpdebugbar {
    font-family: 'Onest Variable', "Figtree" !important;
}

.bg-adp {
    background-color: var(--color-primary);
}

.bg-adp-secondary {
    background-color: var(--color-secondary);
}

.text-adp {
    color: var(--color-primary);
}



/* .grid-container {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: auto;
    height: 100vh;
}

aside {
    grid-column: 1;
    grid-row: 1;
}

.main-container {
    grid-column: 2;
    grid-row: 1;
} */
